<!DOCTYPE html>
<html>
  <head>
    <title>Westeros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

          <%= form_tag("/search", method: "get") do %>
          <%= label_tag(:q, "Search for:") %>
            <%= select_tag(:q, options_for_select([
                ['Stark', 'stark'],
                ['Lannister', 'lannister'],
                ['Targaryen', 'targaryen'],
                ['Tyrell', 'tyrell'],
                ['Greyjoy', 'greyjoy']
              ])) %>
          <%= submit_tag("Search") %>
        <% end %>

    <%= yield %>
  </body>
</html>
